@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Nossa empresa se compromete a levar o sabos das mais diversas safras ao conforto da sua casa e dar sabor aos momentos únicos da sua vida.</p>
