@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">adicionar "/login" ao final do url deve lhe direcionar para a tela de login. Mas isso é temporário</a>.</p>
</div>
